---
name: Testing

on:
  push:
    branches:
      - main
    paths:
      - episodes/*
  pull_request:
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize
    paths:
      - episodes/*

concurrency:
  cancel-in-progress: true
  group: >-
    ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  testing:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      
      - name: Build parent image
        run: docker build . -f docker/Dockerfile.parent -t fortran-unit-testing-exercises
      
      - name: Test episode 3
        run: docker build . -f docker/Dockerfile.ep-3
